.btn{
  
    padding-left: 30px;
    padding-right: 30px;
    margin-left:10px;
    margin-top:20px;
    border-color: #707070;


}
.answers{
    margin-top: 20px;
}
.forms{
    margin-top:30px
}
.disabled {
    background-color: #EFEFEF;
}

.enabled {
    background-color: #4734E1;
}
.clientInfo{
    margin-left: 50px;
}